<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Booking made by:</th>
      <th>Date</th>
      <th>Arrival Time</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Cost</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= booking.date.strftime("%A %d - %b - %Y") %></td>
        <td><%= booking.time.strftime("%H:%M %p") %></td>
        <td><%= booking.duration %> hour/s</td>
        <td><%= booking.description %></td>
        <td><%= booking.cost %></td>
        <td><%= link_to 'Show booking', booking, class: 'btn btn-info' %></td>
        <td><%= link_to 'Amend booking', edit_booking_path(booking), class: 'btn btn-warning'%></td>
        <td><%= link_to 'Cancel booking', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Booking', new_booking_path, class:'btn btn-success' %>
<br>


