<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @booking.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @booking.cost %>
</p>

<h3> Zones booked:  </h3>
<% @booking.zones.each do |zone| %>
  <p class="<%= cycle('list_line_odd', 'list_line_even')%>">
  <b> 
    <%= zone.name %> |
    <%= zone.description %> </b>
  </p>
<% end %>

<%= link_to 'Edit Booking', edit_booking_path(@booking) %> |
<%= link_to 'Back to all bookings', bookings_path %> |
<%= link_to 'Show Zones', booking_zones_path(@booking) %>
