<p id="notice"><%= notice %></p>

<p>
  <strong>Booking made by:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date.strftime("%A %d - %b - %Y") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @booking.time.strftime("%H:%M %p") %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @booking.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @booking.cost %>
</p>

<%= link_to 'Edit Booking', edit_booking_path(@booking), class: 'btn btn-warning'%>

<h3> Zones booked:  </h3>
<% @booking.zones.each do |zone| %>
  <p class="<%= cycle('list_line_odd', 'list_line_even')%>">
  <b> 
    <%= zone.name %> |
    <%= zone.description %> </b>
  </p>
<% end %>

<%= link_to 'Show Zones', booking_zones_path(@booking), class: 'btn btn-info' %>
<br>
<br>
<%= link_to '<< Back to all bookings', bookings_path, class: 'btn btn-success' %>