<h1>Listing Zones in Booking <%= @booking.id %> </h1>

<table>
  <thead>
      <tr>
          <th> Zones details: </th>
      </tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for zone in @zones %>
      <tr class="<%=cycle('list_line_odd', 'list_line_even')%>">
        <td><%= zone.name %></td>
        <td><%= zone.description %></td>
        <td><%= link_to 'Show', booking_zone_path(@booking, zone) %></td>
        <td><%= link_to 'Edit', edit_booking_zone_path(@booking, zone) %></td>
        <td><%= link_to 'Destroy', booking_zone_path(@booking, zone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Zone', new_booking_zone_path(@booking) %>
<%= link_to 'Back to Booking', @booking %>
