<!DOCTYPE html>
<html>
<head>
  <title>Virtual Reality Arcade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/logindetails' %>

  
<div class="container-fluid">
  <div class="row text-center">
    <p class="notice bg-success"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
  <main class="container">
    <%= yield %>
  </main>
  
</div>
<br>
<br>
  <%= render 'shared/footer' %>
</body>
</html>
