<!DOCTYPE html>
<html>
<head>
  <title>Virtual Reality Arcade</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  
  <%= render 'shared/navbar' %>
  <%= render 'shared/logindetails' %>
  

  <div class="row text-center">
    <p class="notice bg-success"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  
  
    <%= yield %>
 
  
<br>
<br>
  <%= render 'shared/footer' %>
</body>
</html>
